<!DOCTYPE html>
<html ng-app="MyApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline' https://unsubstantial-deplo.000webhostapp.com/users.json https://cdnjs.cloudflare.com/; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com/*; media-src *" />
    <title>MyApp</title>
    
    <!-- Styles -->
    <link rel="stylesheet" href="lib/framework7/css/framework7.ios.min.css">
    <link rel="stylesheet" href="lib/framework7/css/framework7.ios.colors.min.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- Scripts -->
    <script type="text/javascript" src="lib/angular/js/angular.min.js"></script>
    <script type="text/javascript" src="lib/framework7/js/framework7.min.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
    <script type="text/javascript" src="js/service/InitService.js"></script>
	<script type="text/javascript" src="js/service/DataService.js"></script>
    <script type="text/javascript" src="js/controller/IndexPageController.js"></script>
    <script type="text/javascript" src="js/controller/DetailPageController.js"></script>
    
  </head>
  <body>
    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>
	<!-- Left panel with reveal effect-->
    <div class="panel panel-left panel-reveal">
      <div class="content-block">
        <p>Left panel content goes here</p>
		<ul>
			<li>Menu 1</li>
		</ul>
      </div>
    </div>
    <div class="views">
      <div class="view view-main">
        <!-- Navbar -->
        <div class="navbar no-border">
          <div class="navbar-inner">
            <div class="left"></div>
            <div class="center sliding">MyApp Index Page</div>
            <div class="right">
              <!-- Right link contains only icon - additional "icon-only" class--><a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
            </div>
          </div>
          <div class="navbar-inner cached" data-page="detailsPage">
            <div class="left sliding">
              <a href="index" class="link back">
                <i class="icon icon-back"></i><span>Back</span>
              </a>
            </div>
            <div class="center sliding">Detail page</div>
            <div class="right"></div>
          </div>
        </div>
        
        <!-- Pages -->
        <div class="pages navbar-through toolbar-through">
          
          <!-- Page 1 -->
          <div data-page="index" class="page" ng-controller="IndexPageController">
            <!-- Page content-->
            <div class="page-content">
              <p>Click <a href="#detailsPage">     here          </a> to go to next page 2</p>
			  <div>
				<div class="list-block">
				  <ul ng-repeat="user in users">
					<a href="#detailsPage" ng-click="onItemClicked(user)" class="link">
					<li class="item-content">
					  <div class="item-inner">
						<div class="item-title">{{user.name}}</div>
					  </div>
					</li>
					</a>
				  </ul>
				</div>
			</div>
          </div>

          <!-- Page 2 -->
          <div data-page="detailsPage" class="page cached" ng-controller="DetailPageController">
            <!-- Page content-->
            <div class="page-content">
              <div class="content-block-title">Styled Cards</div>
 
				<div class="card demo-card-header-pic">
				  <div valign="bottom" class="card-header color-blue no-border">{{user.name}}</div>
				  <div class="card-content">
					<div class="card-content-inner">
					  <p class="color-gray">Posted on January 21, 2015</p>
					  <p>{{user.address.street}}</p>
					</div>
				  </div>
				  <div class="card-footer">
					<a href="#" class="link">Like</a>
					<a href="#" class="link">Read more</a>
				  </div>
				</div>
			  
            </div>
          </div>

        </div>
      </div>
    </div>
	<script type="text/javascript" src="cordova.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
  </body>
</html>